html {
  scroll-behavior: smooth;
}
.App {
  font-family: 'Montserrat', sans-serif;
  min-height: 80vh;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
    
.no-shadows {
  box-shadow: none!important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.active-link {
  color: #0000aa !important;
}
.autocomplete-container > input.autocomplete {
  color: #000;
  border-top: '1px solid black !important';
  padding-left: 20px;
}
.input-field .prefix.active {
  color: #000!important;
}
.dropdown-content li>a, .dropdown-content li>span {
  color: #484848!important;
}
.autocomplete-content li .highlight {
  color: black!important;
  font-weight: bolder;
}
.small-text {
  font-size: 12px;
}

i {
  vertical-align: middle !important;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



table.country-list-table  {
  width:100%;
  position: relative;
  table-layout: fixed;
  height: 700px;
}

.country-list-table tbody, .country-list-table thead {
  display:block;
}
.country-list-table tbody tr {
  display:table;
}



.country-list-table tbody > tr > td, .country-list-table thead > tr > th{
  width: 170px;
}
.country-list-table tbody > tr > td:nth-child(1), .country-list-table thead > tr > th:nth-child(1){
  width: 30px;
}
.country-list-table tbody > tr > td:nth-child(2), .country-list-table thead > tr > th:nth-child(2){
  width: 170px;
}

.country-list-table thead > tr>th{
  position: sticky;

} 

.country-list-table thead > tr {
  position: relative;

}

@media  screen and (max-width: 599px){
  .country-list-table thead > tr > th {
    font-size: 11px;
  }
  .country-list-table tbody > tr > td {
    font-size: 11px;
  }
  .country-list-table tbody, .country-list-table thead {
    display:block;
    width:100vw;
    overflow:scroll;
  }
  .country-list-table tbody  {
    height: 700px;
  }
  .country-list-table tbody tr {
    display:table;
    overflow-x:scroll;
    width:100vw;
  }
  .country-list-table thead > tr > th:nth-child(1){
    width: 10px;
  }
}

input[type="checkbox"] + span{
  color: #484848 !important;
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}


@media (prefers-reduced-motion: no-preference) {
  .loader {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}