html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body,html {
  overflow-x: hidden;
}

.App {
  font-family: 'Montserrat', sans-serif;
  min-height: 80vh;
  /* overflow: hidden; */
}




main {
  flex: 1 0 auto;
}
    
.no-shadows {
  box-shadow: none!important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.active-link {
  color: #0000aa !important;
}
.autocomplete-container > input.autocomplete {
  color: #000;
  border-top: '1px solid black !important';
  padding-left: 20px;
}
.input-field .prefix.active {
  color: #000!important;
}
.dropdown-content li>a, .dropdown-content li>span {
  color: #484848!important;
}
.autocomplete-content li .highlight {
  color: black!important;
  font-weight: bolder;
}
.small-text {
  font-size: 12px;
}

i {
  vertical-align: middle !important;
}
.reversed-icon {
  transform: rotate(180deg);
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



table.country-list-table  {
  width:100%;
  table-layout: fixed;
  position: relative;
}

.country-list-table tbody{
  overflow: scroll;
  justify-content: center !important; 
  height: 700px;

}

.country-list-table tbody tr {
  display:table;
}

.country-list-table tbody tr:nth-child(1) {
  cursor: pointer;
  font-weight: bold;
  top: 0px;
  position: sticky !important;
  overflow-x:scroll;
  overflow-y: hidden;
  background-color: #fff;
}

.country-list-table tbody > tr > td{
  width: 120px;
  min-width: 120px;
  max-width: 120px;
  text-align:center;
  border: 0.5px solid #eee;
  padding: 10px 0px 10px 0px !important;
}
.country-list-table tbody > tr > td:nth-child(1){ 
  width: 40px;
  max-width: 40px;
  min-width: 40px;
  font-size: 13px;
  padding: 0px;
  overflow: hidden;
}
.country-list-table tbody > tr > td:nth-child(2){ 
  width: 130px;
  min-width: 130px;
  max-width: 130px;
  text-align: 'center';
}

@media  screen and (max-width: 599px){
  .country-list-table tbody > tr > td {
    font-size: 11px;
  }
  .country-list-table thead > tr:nth-child(1) > td {
    font-size: 13px;
  }

  .country-list-table tbody{
    display:block;
    width:100vw;
    overflow:scroll;
    height: 700px;
  }
  .country-list-table tbody tr:nth-child(1) {
    position: sticky !important;
    overflow-x:scroll;
    overflow-y: hidden;
    background-color: #fff;
  }
  
  .country-list-table tbody tr:not(:first-child)  {
    display:table;
    overflow-x:scroll;
    width:100vw;
  }
 
  
  .country-list-table tbody > tr > td:nth-child(1){
    width: 30px;
    font-size: 11px;
  }
}

input[type="checkbox"] + span{
  color: #484848 !important;
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
html {
  scroll-behavior: smooth;
}
.App {
  font-family: 'Montserrat', sans-serif;
  min-height: 80vh;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
    
.no-shadows {
  box-shadow: none!important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.active-link {
  color: #0000aa !important;
}
.autocomplete-container > input.autocomplete {
  color: #000;
  border-top: '1px solid black !important';
  padding-left: 20px;
}
.input-field .prefix.active {
  color: #000!important;
}
.dropdown-content li>a, .dropdown-content li>span {
  color: #484848!important;
}
.autocomplete-content li .highlight {
  color: black!important;
  font-weight: bolder;
}
.small-text {
  font-size: 12px;
}

i {
  vertical-align: middle !important;
}
.reversed-icon {
  transform: rotate(180deg);
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



table.country-list-table  {
  width:100%;
  table-layout: fixed;
}

.country-list-table tbody {
  display:block;
  overflow-x: auto;
  justify-content: space-around !important; 
}
.country-list-table tbody tr {
  display:table;
}

.country-list-table tbody tr:nth-child(1) {
  cursor: pointer;
  font-weight: bold;
}

.country-list-table tbody > tr > td{
  width: 130px;
  text-align:center;
  border: 0.5px solid #eee;
  padding: 10px 0px 10px 0px !important;
}
.country-list-table tbody > tr > td:nth-child(1){ 
  width: 40px;
  font-size: 13px;
  padding: 0px;
  overflow: hidden;
}

@media  screen and (max-width: 599px){
  .country-list-table tbody > tr > td {
    font-size: 11px;
  }
  .country-list-table thead > tr:nth-child(1) > td {
    font-size: 13px;
  }
 
  .country-list-table tbody{
    display:scroll;
    width:100vw;
    overflow:scroll;
    height: 700px;
  }

  
  .country-list-table tbody tr:not(:first-child)  {
    display:table;
    overflow-x:scroll;
    width:100vw;
  }
 
  
  .country-list-table tbody > tr > td:nth-child(1){
    width: 30px;
    font-size: 11px;
  }
}

input[type="checkbox"] + span{
  color: #484848 !important;
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}


@media (prefers-reduced-motion: no-preference) {
  .loader {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}


@media (prefers-reduced-motion: no-preference) {
  .loader {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chartWrapper {
  position: relative;
}

.chartWrapper > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events:none;
}

.chartAreaWrapper {
  width: 350px;
  overflow-x: scroll;
}